<!DOCTYPE html>
<html>
<head>
	<%- include ../views/shared/head %>
</head>
<body>
	<%- include ../views/shared/header %>
	<%- include ../views/shared/sidebar %>
	<div class="main-container">
			<div class="pd-ltr-20 customscroll customscroll-10-p height-100-p xs-pd-20-10">
				<%- body %>
				<%- include ../views/shared/footer %>
			</div>
	</div>
	<%- include ../views/shared/script %>
</body>
</html>